body {
  background: #ededed;
}

.logo {
  max-width: 60%;
  height: auto;
}

.navbar {
  background: #d400aa;
}

.navbar-brand {
  color: #fff;
}

.footer {
  background: #343a40;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.search-button {
  background: #ff7f2a;
  color: #000;
}

.nav-link {
  color: #fff;
}

.card-header {
  background: #ff7f2a;
}
