body {
  background: #ededed;
}

.logo {
  max-width: 60%;
  height: auto;
}

.navbar {
  background: #d400aa;
}

.footer {
  background: #d400aa;
}

.search-button {
  background: #2a7fff;
  color: #fff;
}
